<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>609450172227-6guo8ksl1prvko400vm3eiqq59dc7klb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.609450172227-6guo8ksl1prvko400vm3eiqq59dc7klb</string>
	<key>API_KEY</key>
	<string>AIzaSyC9Zv8n2W3WcDcv_W0K3xov8Nk6BJ7w_ok</string>
	<key>GCM_SENDER_ID</key>
	<string>609450172227</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.EquipMangmnt</string>
	<key>PROJECT_ID</key>
	<string>illumaai</string>
	<key>STORAGE_BUCKET</key>
	<string>illumaai.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:609450172227:ios:2fe9093f26fb55ac41d9f6</string>
</dict>
</plist>